#première_image{
	background-image:url("../img/rohan.jpg");
}

#deuxième_image{
	width:30%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: right center;
	background-size:35%;
	background-image:url("../img/fahou.jpg");
}
#troisième_image{
	width:30%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: left center;
	background-size:35%;
	background-image:url("../img/locronan.jpg");
}
