#portrait {
    position: absolute;
    float: left;
    top: 5%;
    left: 5%;
    width: 15em;
    height: 15em;
}

#portrait:hover {
    width: 17em;
    height: 17em;
    top: 4.65%;
    left: 4.7%;
    -webkit-transition: 0.5s;
}
