#banniere_img{
	background-image:url("../img/slide-1.jpg");
}
#première_image{
	background-image:url("../img/emeraude.jpg");
}

#deuxième_image{
	width:30%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: right center;
	background-size:35%;
	background-image:url("../img/chateaux.jpg");
}
