* {
	list-style: none;
}

.portrait {
	position: absolute;
	top: 3px;
	left: 1em;
	width: 10em;
	height: 10em;
}

.font_2 {
	position: relative;
	font-family: pristina;
	font-weight: normal;
	font-size: 4em;
	text-align: left;
	left: 2.2em;
}


.portrait:hover {
	width: 11em;
	height: 11em;
	top: 0.5px;
	left: 0.5em;
	-webkit-transition: 0.5s;
}

#container {
	display: flex;
	height: 150px;
}

.arrow {
	width: 32px;
	height: 32px;
}

.arrow#Right {
	right: 0px;
}

img.item {
	display: none;

}

img.item_active {
	display: block;
	-webkit-animation: fadeImg 0.8s;
	-moz-animation: fadeImg 0.8s;
	animation: fadeImg 0.8s;
}










body{
	padding-left: 2em;
	padding-right:2em;
}

#banniere{
	/* height:200%; */
	display:grid; 
	grid-template-columns: repeat(5, 1fr); /*5colonnes de taille 1 fragment */
	grid-template-rows: 2fr;
}
		
#banniere_img {
	background-image: url("téléchargement.jpg");
	grid-row:2;
	grid-column:1/6; /*commence a la 1ere colonne et se termine à la 6e*/
}

#menu{
	background-color: RGBa(211, 211, 211, 0.7); /*"a" pour utiliser la transparence*/
	border-width:thin;
	grid-row:2;
	grid-column:5; /*5e colonne*/
}

#menu li{
	list-style-type: none;
    border: thin solid;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
	padding:1em;
    text-align: center;
}

#Titre{
	border-style : solid;
	border-radius: 15px;
	border-width:thin;
	text-align:center;
	width: 40%;
	margin:auto;
	margin-top:1em;
}

.box{
	display:flex;
	height:30em;
	margin-top:5em;
	margin-bottom:5em;
}
#première_image{
	margin-left:2.5%;
	margin-right:2.5%;
	width:40%;
	background-image:url("fest_noz.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
}
#deuxième_image{
	margin-left:2.5%;
	margin-right:2.5%;
	width:40%;
	background-image:url("biniou-3.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: right center;
	background-size:50em;
}
#troisième_image{
	margin-left:2.5%;
	margin-right:2.5%;
	width:40%;
	background-image:url("kan_ha_diskan.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: left center;
	background-size:50em;
}

.text-box{
	margin:auto;
	height:inherit;
	width:100%;
}
.background{
	background-color:#CECECE;
	width:50%;
	padding-right:2.5%;
	padding-left:2.5%;
	box-sizing:border-box;
	display:flex;
}
h1{
	text-align:center;
}








